<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Receipt Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/receipt_detail-styles.css' %}">
</head>
<body>
    <div class="receipt-container">
        <div class="receipt-card">
            <h1 class="receipt-header">Receipt Details</h1>
            <div class="receipt-details">
                <p><strong>Name:</strong> {{ receipt.name }}</p>
                <p><strong>Total Cost:</strong> {{ receipt.total_cost }}</p>
                <p><strong>Taxes:</strong> {{ receipt.taxes }}</p>
                <p><strong>Tip:</strong> {{ receipt.tip }}</p>
                <p><strong>Uploaded at:</strong> {{ receipt.uploaded_at }}</p>
            </div>

            <h2 class="receipt-header">Items</h2>
            {% if receipt.receipt_items.all %}
                <ul class="receipt-items">
                    {% for item in receipt.receipt_items.all %}
                        <li class="receipt-item">
                            <p><strong>Item Name:</strong> {{ item.item_name }}</p>
                            <p><strong>Item Cost:</strong> {{ item.item_cost }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="receipt-details">No receipt items available.</p>
            {% endif %}

            <a href="{% url 'upload_receipt' %}" class="upload-link">Upload Another Receipt</a>
        </div>
    </div>
</body>
</html>
