{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/receipt_room_owner-styles.css' %}">
{% endblock %}

{% block content %}
<div class="receipt-room-container">
    <div class="receipt-room-card">
        <h1 class="receipt-room-header">{{ receipt.name }}</h1>
        <div class="receipt-room-details">
            <p><strong>Total Cost:</strong> {{ receipt.total_cost }}</p>
            <p><strong>Taxes:</strong> {{ receipt.taxes }}</p>
            <p><strong>Tip:</strong> {{ receipt.tip }}</p>
            <p><strong>Uploaded at:</strong> {{ receipt.uploaded_at }}</p>
        </div>

        <h2 class="receipt-room-header">Items</h2>
        <p class="instructions">Select the items that belong to you:</p>

        {% if receipt.receipt_items.all %}
            <form id="receipt-form" method="POST" action="{% url 'payment' %}">
                {% csrf_token %}
                <input type="hidden" name="receipt_id" value="{{ receipt.id }}">
                <ul class="receipt-room-items">
                    {% for item in receipt.receipt_items.all %}
                        <li class="receipt-room-item">
                            <div class="item-container">
                                <div class="item-details">
                                    <p><strong>Item Name:</strong> {{ item.item_name }}</p>
                                    <p><strong>Item Cost:</strong> {{ item.item_cost }}</p>
                                </div>
                                <input type="checkbox" class="custom-checkbox" name="selected_items" value="{{ item.item_cost }}">
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <button type="submit" class="confirm-btn">Confirm and Pay for Selection</button>
            </form>
        {% else %}
            <p class="receipt-room-details">No items available.</p>
        {% endif %}

        <hr class="divider">
    </div>
</div>
{% endblock %}
