{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create-room-styles.css' %}">
{% endblock %}

{% block content %}
<div class="create-room-container">
    <div class="create-room-card">
        <h2>Select a Pricing Strategy</h2>

        <button class="custom-btn btn-dark-red">Price Roulette</button>
        <button class="custom-btn btn-deep-green">Probabilistic Price Roulette</button>
        <button class="custom-btn btn-muted-blue">Pay for Your Own Stuff</button>

        <hr class="divider">

        <button class="custom-btn btn-light-teal">Scan Receipt</button>

        <hr class="divider">

        <button class="custom-btn btn-lucky">I'm Feeling Lucky</button>
    </div>
</div>
{% endblock %}
