{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create-room-styles.css' %}">
{% endblock %}

{% block show_focus_mode %}True{% endblock %}

{% block content %}

<video id = "bg-video" autoplay muted loop>
    <source src="{% static 'videos/subway_surfers.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
</video>

<div class="create-room-container">
    <div class="create-room-card" id="room-card">
        <h2>Select a Pricing Strategy</h2>
        
        <a href="{% url 'upload_receipt' %}?room_type=roulette" class="custom-btn btn-cool">🎲 Price Roulette 🎲</a>
        <a href="{% url 'upload_receipt' %}?room_type=probabalistic_roulette" class="custom-btn btn-steel">📊 Probabilistic Price Roulette 📊</a>
        <a href="{% url 'upload_receipt' %}?room_type=custom_split" class="custom-btn btn-slate">🛒 Pay for Your Own Stuff 🛒</a>
        
        <hr class="divider">
        
        <a href="{% url 'upload_receipt' %}?room_type=split_evenly" class="custom-btn btn-midnight">⚖️ Split Evenly ⚖️</a>
        
        <hr class="divider">
        
        <a href="{% url 'upload_receipt' %}?room_type=roulette" class="custom-btn btn-navy" id="lucky-btn">🍀 I'm Feeling Lucky 🍀</a>
    </div>
</div>
<!-- source -->
<!-- https://www.w3schools.com/django/django_add_js_file.php -->
<script>
    document.getElementById('lucky-btn').addEventListener('click', function(event) {
        event.preventDefault(); 
        let luckyBtn = document.getElementById('lucky-btn');
        let roomCard = document.getElementById('room-card');

        // List of URLs to randomly choose from
        const urls = [
            "{% url 'upload_receipt' %}?room_type=roulette",
            "{% url 'upload_receipt' %}?room_type=probabalistic_roulette",
            "{% url 'upload_receipt' %}?room_type=custom_split",
            "{% url 'upload_receipt' %}?room_type=split_evenly"
        ];

        // Randomly select a URL
        const randomUrl = urls[Math.floor(Math.random() * urls.length)];

        roomCard.classList.add('hidden');  
        luckyBtn.classList.add('expand-crazy');

        setTimeout(() => {
            window.location.href = randomUrl; // Redirect to the randomly selected URL
        }, 2000);
    });
</script>
{% endblock %}

