{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/login-styles.css' %}">

<!-- Login Container -->
<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <img src="{% static 'images/receiptability.png' %}" alt="Receiptability Logo" class="logo">
            <h2>Login</h2>
            <div class="login-error">
                {% if form.errors %}
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                                <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}  
            </div>
        </div>
        <div class="login-body">
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="input-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                <div class="forgot-password">
                    <a href="{% url 'password_reset' %}">Forgot password?</a>
                </div>
                <button type="submit" class="btn">Login</button>
            </form>
            <p class="register-link">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
</div>
{% endblock %}
