{% extends "base.html" %}
{% load static %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login-styles.css' %}">

<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <img src="{% static 'images/receiptability.png' %}" alt="Receiptability Logo" class="logo">
            <h2>Password Reset Email Sent</h2>
        </div>
        <div class="login-body">
            <p>Please check your email for instructions on how to reset your password.</p>
        </div>
    </div>
</div>
{% endblock %}
