{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/payment-styles.css' %}">
{% endblock %}

{% block content %}
<div class="payment-container">
    <div class="payment-card">
        <h2>You Owe: </h2>
        <div class="payment-amount-box text-center">
            <h2>${{ total_cost }}</h2>
        </div>

        <h2 class="mt-4">Select Payment Method</h2>
        <div class="payment-option-box text-center">
            <h3>USER's Venmo</h3>
        </div>
        <div class="payment-option-box text-center">
            <h3>USER's PayPal</h3>
        </div>
        <div class="payment-option-box text-center">
            <h3>USER's Apple Pay</h3>
        </div>

        <hr class="divider">

        <a href="{% url 'join-room' %}" class="btn btn-info">Go to Join Room</a>
    </div>
</div>
{% endblock %}